.Navbar {
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 90;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.Navbar nav {
    height: 100%;
    display: inherit;
}

.nav-link{
    padding: 20px;
    display: inherit;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    background-color: rgb(86, 21, 148);
    color: white;
}
