.Button {
    font: inherit;
    border: 1px solid rgb(108, 9, 236);
    border-radius: 0.5rem;
    color: rgb(108, 9, 236);
    background: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
}

.Button:focus {
    outline: none;
  }
  
  .Button:disabled {
    background: #ccc;
    color: #888888;
    cursor: not-allowed;
    border: #ccc;
    box-shadow: none;
  }
  
  .Button:disabled:hover,
  .Button:disabled:active {
    background: #ccc;
    color: #888888;
    border: #ccc;
  }
  
  .Button:hover,
  .Button:active {
    background: #3b0062;
    color: white;
  }
  
  .Button--flat {
    border: none;
  }
  
  .Button--flat:hover,
  .Button--flat:active {
    background: rgba(59, 0, 98, 0.3);
    color: #3b0062;
  }
  
  .Button--raised {
    background: #3b0062;
    color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  }
  
  .Button--raised:hover,
  .Button--raised:active {
    background: #520288;
  }
  
  .Button.Button--accent {
    border-color: #fab83f;
    color: #fab83f;
  }
  
  .Button--accent:hover,
  .Button--accent:active {
    background: #fab83f;
    color: #3b0062;
  }
  
  .Button--flat.Button--accent:hover,
  .Button--flat.Button--accent:active {
    background: rgba(250, 184, 63, 0.3);
    color: #fab83f;
  }
  
  .Button.Button--accent.Button--raised {
    background: #fab83f;
    color: #3b0062;
  }
  
  .Button--raised.Button--accent:hover,
  .Button--raised.Button--accent:active {
    background: #fbc766;
  }
  
  .Button.Button--danger {
    border-color: #a30000;
    color: #a30000;
  }
  
  .Button--danger:hover,
  .Button--danger:active {
    background: #a30000;
    color: white;
  }
  
  .Button--flat.Button--danger:hover,
  .Button--flat.Button--danger:active {
    background: rgba(163, 0, 0, 0.3);
    color: #a30000;
  }
  
  .Button.Button--danger.Button--raised {
    background: #a30000;
    color: white;
  }
  
  .Button--raised.Button--danger:hover,
  .Button--raised.Button--danger:active {
    background: #c00000;
  }
  
  .Button.Button--success {
    border-color: #00b359;
    color: #00b359;
  }
  
  .Button--success:hover,
  .Button--success:active {
    background: #00b359;
    color: white;
  }
  
  .Button--flat.Button--success:hover,
  .Button--flat.Button--success:active {
    background: rgba(0, 179, 90, 0.3);
    color: #00b359;
  }
  
  .Button.Button--success.Button--raised {
    background: #00b359;
    color: white;
  }
  
  .Button--raised.Button--success:hover,
  .Button--raised.Button--success:active {
    background: #00a151;
  }
  
.search-button{
  width: 50px;
  border: none;
  background-color: rgb(197, 166, 255);
}

.search-button:hover{
  background-color: rgb(162, 136, 209);
}